
<div class="container slider">
    <!-- <div class="slider">  -->
		<img src="img/banner1.jpg" class="img-rounded" alt="Cinque Terre"> 
	<!-- </div> -->
	<hr>
	
	<div class="row" >
	    <div class="col-md-4">
		     <a href="#" class="thumbnail">
		     	 <img src="img/1.jpg" alt="...">
		    </a>
		    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
	    </div>

	    <div class="col-md-4">
	      	<a href="#" class="thumbnail">
	     	 	<img src="img/2.jpg" alt="...">
	    	</a>
	    	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
	    </div>

	    <div class="col-md-4">      
	  		<a href="#" class="thumbnail">
	     		<img src="img/3.jpg" alt="...">
	   		</a>
	   		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
	    </div>
	</div>
		<div class="row" >

	    <div class="col-md-6">
	      	<a href="#" class="thumbnail">
	     	 	<img src="img/4.jpg" alt="...">
	    	</a>
	    	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
	    </div>
	    
	    <div class="col-md-6">      
	  		<a href="#" class="thumbnail">
	     		<img src="img/6.jpg" alt="...">
	   		</a>
	   		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
	    </div>
	</div>
</div>


<!-- </div>