<!-- about.html -->
    <!-- <div class="jumbotron text-center">
        <h1>pricing Page</h1>

        <p>{{ message }}</p>
    </div> -->
 
  <div class = "container">
  <div class="row text-center">
  	<h1  >Pricing Table</h1>
  </div>
  <hr>
  <div class="row text-center">
  	<div class="col-md-3">

  		<div class="panel panel-default">
		    <div class="panel-heading">
		    	<strong>Basic</strong>
		    </div>
		    <div class="panel-body">
		    	<p><span class = "priceFont">$9</span>  mo.</p> 
		    </div>
		    <ul class="list-group price">
			  <li class="list-group-item ">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">
			 	 <button type="button" class="btn btn-primary">Sign Up Now!</button>
			  </li>
			</ul>
	 	</div>

  		
  	</div>
  	<div class="col-md-3">
  		<div class="panel panel-default">
		    <div class="panel-heading">
		    	<strong>Plus</strong>
		    </div>
		    <div class="panel-body">
		    	<p><span class = "priceFont">$17</span>  mo.</p> 
		    </div>
		    <ul class="list-group price">
			  <li class="list-group-item ">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">
			 	 <button type="button" class="btn btn-primary">Sign Up Now!</button>
			  </li>
			</ul>
	 	</div>

  	</div>
  	<div class="col-md-3">
  		<div class="panel panel-default">
		    <div class="panel-heading">
		    	<strong>Premium</strong>
		    </div>
		    <div class="panel-body">
		    	<p><span class = "priceFont">$23</span>  mo.</p> 
		    </div>
		    <ul class="list-group price">
			  <li class="list-group-item ">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">
			 	 <button type="button" class="btn btn-primary">Sign Up Now!</button>
			  </li>
			</ul>
	 	</div>

  	</div>
	<div class="col-md-3">
  		<div class="panel panel-default">
		    <div class="panel-heading">
		    	<strong>Ultimate</strong>
		    </div>
		    <div class="panel-body">
		    	<p><span class = "priceFont">$29</span>  mo.</p> 
		    </div>
		    <ul class="list-group price">
			  <li class="list-group-item ">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">
			 	 <button type="button" class="btn btn-primary">Sign Up Now!</button>
			  </li>
			</ul>
	 	</div>

  	</div>
  </div>
 
  </div>